 @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

 #body {
     margin: auto;
     max-width: 1920px;
 }

 body {
     margin: 20px 50px;
     font-family: "Space Grotesk", sans-serif;
 }

 div.header {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .logo h1 {
     display: flex;
     align-items: center;
     gap: 10px;
     font-size: 46px;
 }

 div.container {
     display: flex;
     gap: 45px;
     align-items: center;
     font-size: 20px;
 }

 div.request {
     border: 2px solid black;
     border-radius: 13px;
     padding: 18px 28px;
 }

 div.mobile_menu {
     width: 60px;
 }

 /* down */

 footer.footer_container {
     background-color: #191A23;
     color: #ffffff;
     border-radius: 45px 45px 0 0;
     padding: 60px 100px;
     margin-top: 100px;
     box-sizing: border-box;
 }

 div.footer_content {
     max-width: 1240px;
     margin: 0 auto;
 }

 div.footer_top {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 70px;
 }

 .footer_logo {
     display: flex;
     align-items: center;
     gap: 8px;
 }

 .footer_logo img {
     width: 30px;
 }

 .footer_logo {
     font-size: 35px;
     font-weight: bold;
 }

 div.footer_menu {
     display: flex;
     gap: 38px;
     font-size: 18px;
     text-decoration: underline;
 }

 div.footer_social {
     display: flex;
     gap: 20px;
 }

 div.footer_social2 {
     display: none;
 }

 div.footer_social img {
     width: 30px;
 }

 div.footer_information {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     margin-bottom: 50px;
 }

 div.footer_contact {
     display: flex;
     flex-direction: column;
     gap: 5px;
 }

 div.contact_contactus {
     background-color: #B9FF66;
     color: #000000;
     padding: 4px 10px;
     border-radius: 6px;
     font-size: 22px;
     font-weight: bold;
     margin-bottom: 20px;
     width: fit-content;
 }

 div.contact_info {
     font-size: 20px;
 }

 div.footer_subscribe {
     background-color: #292A32;
     padding: 58px 40px;
     border-radius: 14px;
     width: 630px;
     box-sizing: border-box;
 }

 div.signform {
     display: flex;
     gap: 20px;
 }

 div.email {
     flex: 1;
     border: 1px solid #ffffff;
     border-radius: 14px;
     padding: 22px;
     color: #ffffff;
     font-size: 18px;
     display: flex;
     align-items: center;
 }

 div.subscribe_to_news {
     background-color: #B9FF66;
     color: #000000;
     border-radius: 14px;
     padding: 22px 35px;
     font-size: 18px;
     font-weight: 600;
 }

 div.footer_line {
     border-top: 1px solid #ffffff;
     margin-bottom: 45px;
 }

 div.footer_bottom {
     display: flex;
     gap: 40px;
     font-size: 16px;
 }

 div.privacy_policy {
     text-decoration: underline;
 }

 @media screen and (max-width:1360px) {
     div.container {
         display: none;
     }

     div.mobile_menu {
         display: block;
         width: 50px;
         height: 50px;
     }
 }

 @media screen and (max-width: 1080px) {
     body {
         margin: 10px 30px;
     }

     div.footer_logo {
         width: 200px;
     }

     footer.footer_container {
         padding: 50px 30px;
         text-align: center;
         border-radius: 0;
     }

     div.footer_top {
         flex-direction: column;
         gap: 30px;
     }

     div.footer_menu {
         flex-direction: column;
         gap: 15px;
         line-height: 35px;
         text-decoration: none;
         margin-bottom: -20px;
         margin-top: 10px;
     }

     div.footer_social {
         display: none;
     }

     div.footer_social2 {
         display: block;
         margin-top: 15px;
         margin-bottom: -25px;
     }

     div.contact_contactus {
         width: none;
         margin: auto;
         align-items: center;
         margin-bottom: 40px;
     }

     div.footer_information {
         flex-direction: column;
         align-items: center;
         gap: 40px;
     }

     div.footer_subscribe {
         width: 100%;
         padding: 30px 20px;
     }

     div.signform {
         flex-direction: column;
     }

     div.footer_bottom {
         flex-direction: column;
         gap: 15px;
         align-items: center;
     }
 }