        /* content_1 */

        div.content_1 {
            display: flex;
            align-items: center;
            margin-top: 30px;
        }

        div.title {
            letter-spacing: 4px;
        }

        h1.content_1_title {
            font-size: 65px;
        }

        p.intro {
            font-size: 20px;
            line-height: 1.5;
            letter-spacing: 1px;
        }

        button.book_consultation {
            background: black;
            color: white;
            font-size: 23px;
            border-radius: 15px;
            margin-top: 30px;
            padding: 28px 40px;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }

        div.content_image {
            margin: auto;
            width: 100%;
        }

        /* company_1 */

        div.company_1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 5% 0px;
        }

        div.company_logo_1 {
            align-items: center;
        }

        div.company_logo_1.spacial {
            padding-bottom: 4px;
        }

        img.company_logo_1 {
            width: 110%;
        }

        /* company_2 */

        img.company_logo_2 {
            width: 100%;
        }

        div.company_logo_2 {
            display: flex;
            gap: 30px;
            align-items: center;
            justify-content: space-between;
            margin: auto;
            margin-top: 10px;
        }

        /* service */

        div.service {
            display: flex;
            gap: 50px;
            height: 100px;
            align-items: center;
            margin-bottom: 60px;
        }

        div.service_title {
            background-color: #B9FF66;
            font-size: 40px;
            font-weight: 500;
            text-align: center;
            padding: 2px 8px;
            border-radius: 10px;
        }

        div.service_intro {
            font-size: 20px;
            width: 770px;
            align-items: center;
        }

        /* frame */

        div.service_container {
            margin: auto;
            align-items: center;
            justify-content: center;
        }

        div.frame_card {
            margin: auto;
            align-items: center;
            justify-content: center;
        }

        div.frame {
            margin: auto;
            display: flex;
            gap: 50px;
            justify-content: space-between;
        }

        div.card_line2_white,
        div.card_line1_white {
            display: inline-block;
            font-size: 32px;
            font-weight: 600;
            border-radius: 10px;
            padding: 2px 5px;
            background-color: #ffffff;
        }

        div.card_line1_green,
        div.card_line2_green {
            display: inline-block;
            font-size: 32px;
            font-weight: 600;
            border-radius: 10px;
            padding: 2px 5px;
            background-color: #B9FF66;
        }

        div.learn_more.white {
            color: #ffffff;
        }

        div.card {
            display: flex;
            border-radius: 50px;
            width: 700px;
            height: 250px;
            padding: 60px;
            justify-content: space-between;
            box-shadow: 0px 5px;
            margin: auto;
            align-items: center;
            margin-bottom: 5%;
        }

        div.card.white_1,
        div.card.white_4 {
            background-color: #F3F3F3;
            border: 2px solid black;
        }

        div.card.green_2,
        div.card.green_5 {
            background-color: #B9FF66;
            border: 2px solid black;
        }

        div.card.black_3,
        div.card.black_6 {
            background-color: #191A23;
            border: 2px solid black;
        }

        div.card_illus {
            display: flex;
            width: 190px;
            gap: 12px;
        }

        div.learn_more {
            font-size: 18px;
            margin: auto 0px;
            width: 70%;
            align-items: center;
        }

        div.card_img {
            width: 45px;
        }

        div.card_intro {
            display: flex;
            width: 52%;
            height: 250px;
            flex-direction: column;
            justify-content: space-between;
        }

        div.card_img_illus {
            width: 40%;
        }

        div.frame_gray_4 {
            display: flex;
            background-color: #F3F3F3;
            border-radius: 50px;
            width: auto;
            height: 260px;
            padding: 60px;
            justify-content: space-between;
        }

        div.frame_gray_4_illus {
            width: 380px;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-top: -80px;
        }

        div.frame_gray_4_title {
            font-size: 37px;
            font-weight: 600;
        }

        div.frame_gray_4_intro {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        button.get_free {
            background-color: rgb(0, 0, 0);
            color: white;
            font-size: 23px;
            font-weight: 50;
            border-radius: 15px;
            padding: 25px 35px;
            letter-spacing: 1px;
        }

        /* hide */

        div.mobile_menu {
            display: none;
        }

        div.company_2 {
            display: none;
            width: 85%;
            align-items: center;
            justify-self: center;
            margin-top: auto;
        }

        div.content_2 {
            display: none;
            align-items: center;
            width: 100%;
        }

        /* mobile size */

        @media screen and (max-width:1080px) {

            div.mobile_menu {
                width: 10%;
            }

            h1.logo {
                width: 50px;
                font-size: 55px;
            }

            div.company_2 {
                display: block;
            }

            div.content_2 {
                display: block;
            }

            div.book_consultation_2 {
                display: block;
                background-color: black;
                color: #ffffff;
                border-radius: 2.5vw;
                padding: 1px 30px;
                margin-top: 40px;
                text-align: center;
            }

            h1.content_2_title {
                font-size: 9.5vw;
            }

            div.content_image {
                width: 100%;
            }

            /* none */

            div.service {
                display: none;
            }

            div.service_container {
                display: none;
            }

            div.service-img {
                display: none;
            }

            div.service_intro {
                display: none;
            }

            div.company_logo_1 {
                display: none;
            }

            div.content_1 {
                display: none;
            }

            div.book_consultation {
                display: none;
            }

            div.frame.gray_4 {
                display: none;
            }

            div.frame_card_4 {
                display: none;
            }

        }

        /* one resize */

        @media screen and (max-width:1310px) {
            div.container {
                display: none;
            }

            div.mobile_menu {
                display: block;
            }

            p.service_intro {
                font-size: 18px;
            }

            div.company {
                gap: 50px;
            }

            div.frame {
                display: block;
            }
        }